.Rproj.user
.Rhistory
.RData
.Ruserdata

note/*
data/hti_adm_cnigs_20181129/*
data/hti_adm_cnigs_20181129.zip
scripts/h_files/*
scripts/m_files/*
scripts/e_files/*
figs/m_files/*
figs/e_files/*
figs/h_files/*
