h1 {
    font-family: "Roboto Black";
  }
h2 {
    font-family: "Roboto";
  }
p {
    font-family: "Roboto";
    width: 640px;
    text-align: left;
  }

.x-axis path {
    stroke: #3B3B3B;
    stroke-width: 2;
}

.x-axis text {
    font-family: 'Roboto';
    font-size: 13px;
}

.y-axis text {
    font-family: 'Roboto';
    font-size: 15px;
    fill: #B3B3B3;
}

.y-axis-title {
    text-anchor: end;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: italic;
    fill: #B3B3B3;
}

.y-axis line {
    stroke-dasharray: 7 7;
    stroke: #B3B3B3;
    stroke-width: 2;
}

.y-axis path {
    stroke: none;
}

.plot-title {
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 900;
    fill: #3B3B3B;
}

.plot-subtitle {
    font-size: 17px;
    font-family: 'Roboto';
    fill: #3B3B3B;
}

.annotations {
    font-family: 'Roboto';
    font-size: 13px;
    fill: #3B3B3B;
}

.plot-legend-rect {
    height: 20;
    width: 20;
}

.plot-legend-line {
    stroke-width: 4;
}

.plot-legend-circle {
    r: 10;
}

.plot-legend-text {
    font-family: 'Roboto';
    font-style: italic;
    font-size: 15px;
    fill: #B3B3B3;
}

.interactive-note {
    font-family: 'Roboto';
    fill: #B3B3B3;
    text-anchor: end;
}

.sources {
    font-family: 'Roboto';
    font-size: 15px;
    fill: #9D9D9D;
}

.ic-logo {
    font-family: 'Noto Serif';
    font-size: 15px;
    font-style: italic;
    text-anchor: end;
    letter-spacing: 1px;
    fill: #A5A5A5;
}

.tooltip {
    font-family: 'Roboto';
    position: absolute;
}


.node {
    stroke-width: 2;
}

.node:hover {
    stroke-width: 5;
}

.myCircle {
    r: 4;
    stroke: #11269B;
    stroke-width: 3;
    fill: #FAFAFA;
}

.myCircle:hover {
    r: 6;
}

.myPath {
    stroke: #B31536;
    stroke-width: 3;
}